* {
  margin: 0;
  padding: 0;
  font-family: "poppings", sans-serif;
  box-sizing: border-box;
}

:root {
  --sidebar-text-color: #626262;
  --body-bg: #efefef;
  --nav-bg: #1876f2;
  --bg-white: #fff;
  --hr-color: #ccc;
}

.dark-theme {
  --hr-color: #626262;
  --body-bg: #0a0a0a;
  --nav-bg: #000;
  --bg-white: #000;
  --input-text: #ccc;
}

body {
  background: var(--body-bg);
  transition: background 0.3s ease;
}

.online {
  position: relative;
}

.online::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 26px;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  background: #41db51;
  border-radius: 50%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--nav-bg);
  padding: 5px 5%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left ul {
  display: flex;
  list-style: none;
}

.nav-left ul li img {
  width: 28px;
  margin: 0 15px;
  cursor: pointer;
  position: relative;
}

/* Nav Right */
.nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
}

.logo {
  width: 160px;
  margin-right: 45px;
  cursor: pointer;
}

.search-box {
  display: flex;
  align-items: center;
  padding: 5px;
  background: #fff;
  border-radius: 50px;
}

.search-box input {
  padding: 5px;
  outline: none;
  border: none;
  background: transparent;
  font-size: 1rem;
}

.profile-pic {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.profile-pic img {
  width: 45px;
  margin-right: 15px;
  border-radius: 50%;
}

.user-profile {
  display: flex;
  align-items: center;
  height: 40px;
  width: 40px;
}

.user-profile img {
  width: 100%;
  border-radius: 50%;
  object-fit: contain;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.online-user {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 0;
  cursor: pointer;
  border-radius: 4px;
}

.online-user.online::before {
  top: unset;
  bottom: 0;
  left: 30px;
}

.online-user:hover {
  background: #d9d9de;
}

.online-user img {
  width: 40px;
  border-radius: 50%;
  margin-left: 5px;
}
.online-user p {
  font-size: 0.8rem;
  margin-left: 10px;
}

/* settings-menu */
.settings-menu {
  position: absolute;
  width: 90%;
  max-width: 350px;
  background: var(--bg-white);
  border-radius: 6px;
  overflow: hidden;
  right: 120px;
  top: 53px;
  z-index: 9999;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  max-height: 0;
  transition: all 0.3s ease-in-out;
}

.settings-menu .menu {
  padding: 15px;
}
.settings-menu a {
  text-decoration: none;
  color: #1876f2;
  font-size: 0.8rem;
}

.dispay-settings-menu {
  max-height: 540px;
}

.settings-menu hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin-top: -20px;
  margin-bottom: 20px;
}

.settings-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.settings-menu img {
  width: 35px;
}

.settings-icons a {
  margin-right: 10px;
}

#dark-btn {
  position: absolute;
  display: flex;
  top: 20px;
  right: 20px;
  width: 45px;
  padding: 2px 3px;
  background: #ccc;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

#dark-btn span {
  width: 18px;
  height: 18px;
  background: var(--bg-white);
  border-radius: 50%;
}

#dark-btn.dark-mode {
  padding-left: 25px;
}

.settings .profile-pic {
  padding: 6px;
}

.settings .profile-pic:hover {
  background: #ddd;
  border-radius: 6px;
}

footer {
  padding: 15px;
  background: var(--bg-white);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9a9a9a;
  font-size: 0.8rem;
}

/* Post Input */
.post-input-cont {
  margin-top: 50px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  background: var(--bg-white);
  border-radius: 6px;
  padding: 20px;
  color: #626262;
}

.user-name p {
  font-weight: 600;
}

.user-name p small {
  font-size: 0.75rem;
  cursor: pointer;
}

.post-input {
  margin-left: 60px;
}

.post-input textarea {
  outline: none;
  border: none;
  resize: none;
  width: 100%;
  height: 20px;
  font-size: 1rem;
  color: var(--input-text);
  border-bottom: 1px solid var(--hr-color);
  background: transparent;
}

.post-input textarea::placeholder {
  color: #626262;
  font-size: 14px;
}

.post-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 18px;
}

.post-icons a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1876f2;
  font-size: 0.75rem;
}

.post-icons a img {
  margin-right: 10px;
  width: 20px;
}

/* Post */
.posts-container {
  margin-top: 20px;
  padding: 15px;
  background: var(--bg-white);
  border-radius: 6px;
  color: #626262;
}

.posts-container .user-name span {
  font-weight: 600;
  font-size: 0.75rem;
  color: #9a9a9a;
}

.post-text {
  margin: 15px 0;
  color: #9a9a9a;
}

.post-text a {
  text-decoration: none;
  color: #1876f2;
  font-size: 0.8rem;
}

.post-img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.post-row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding-left: 5px;
}

.post-row a {
  color: #9a9a9a;
}

.post-pofile-icon {
  width: 45px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.post-pofile-icon img {
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.activities-icons {
  display: flex;
  align-items: center;
}

.activities-icons div {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 30px;
}

.activities-icons div img {
  width: 25px;
  margin-right: 5px;
}

.load-more-btn {
  margin: 25px auto;
  display: block;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid;
  font-size: 1rem;
  color: #1876f2;
  cursor: pointer;
  background: transparent;
}

.load-more-btn:active {
  border: 1px solid #fff;
}

@media (max-width: 900px) {
  .nav-right .search-box {
    display: none;
  }

  .logo {
    width: 110px;
    margin-right: 10px;
  }
  .nav-left ul li img {
    width: 20px;
    margin: 0 8px;
  }

  .nav-right .user-profile img {
    width: 30px;
    margin-left: 10px;
  }

  .nav-right {
    justify-content: flex-end;
    align-items: center;
  }

  .post-input-cont {
    padding: 15px;
  }

  .post-icons {
    flex-wrap: wrap;
  }

  .post-input {
    margin-left: 0px;
  }

  .post-icons a {
    margin-right: 12px;
    font-size: 0.65rem;
  }

  .post-icons a img {
    width: 15px;
  }

  .settings-menu {
    right: 19px;
  }
}
